!!! 5
%html(lang="en-US")
  %p You are invited by #{@invitation.inviter.username} to join Myflix!
  %p= @invitation.message
  %p= link_to "Accept this invitation", register_with_token_url(@invitation.token)